.emailVerify_div {
    min-height: 79.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verifyEmail_btn {
    background: #290FBA !important;
    color: #fff !important;
    margin-top: 5px!important;
    border-radius: 5px!important;
}

.resent_otp_btn {
    margin-left: 10px !important;
    background: #58BAD7 !important;
    color: #fff !important;
    margin-top: 5px!important;
    border-radius: 5px!important;
}